@import "../../styles/variables.scss";

.productListContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.title {
  font-size: 1em;
  margin-left: 1em;
  text-transform: capitalize;
}

@media (min-width: 668px) {
  .title {
    margin-left: $baseline;
  }
}
@media (min-width: 737px) {
  .productListContainer {
    justify-content: inherit;
  }
}
