@import "../../styles/variables.scss";

$baselineSpace: 0.5em;

.productItemContainer {
  width: 45%;
  height: auto;
  padding: $baseline * 0.5;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  margin-bottom: $baseline;

  & .imageContainer {
    cursor: pointer;
    padding-top: $baselineSpace;
    text-align: center;
    & .imageContent {
      display: block;
      &:focus {
        outline: 1px dotted $theme-green-d-1;
      }
    }
  }
  & .innerContainer {
    background-color: white;
    padding: 0 ($baseline * 0.5);
    border-radius: 10px;
    height: 100%;
  }
  & .bodyContainer {
    display: flex;
    flex-direction: column;
  }

  & .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: $baseline;
    align-items: center;
    & .price {
      padding: 0;
      margin: 0;
    }
  }
  .btn {
    padding: 0.5em $baseline;
    border: none;
    background: $theme-green-d-1;
    & .icon {
      display: inline-block;
      width: 1.5em;
      vertical-align: middle;
    }
    &:hover,
    &:focus {
      background: $theme-green-l-1;
      outline: 1px solid $theme-green-d-1;
    }
    & .btnText {
      display: none;
    }
  }
  & .productName {
    margin: $baselineSpace 0;
    font-size: 0.8em;
  }
  & .shortDescription {
    font-size: 0.7em;
    margin-top: 0;
  }
}

@media (min-width: 700px) {
  .productItemContainer {
    width: 80%;
    width: $baselineSpace * 30;
    margin-left: $baselineSpace;

    & .productName {
      margin: $baselineSpace 0;
      font-size: 1em;
    }
    & .shortDescription {
      font-size: 0.8em;
      margin-top: 0;
    }

    .btn {
      & .btnText {
        display: inline-block;
      }
    }
  }
}
