@import "../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: $baseline;
  margin-left: $baseline;
  margin-right: $baseline;

  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 1em 2em;

  h2 {
    margin: ($baseline * 0.5) 0;
  }
  & .radioContainer {
    display: block;
    width: 100%;
    text-align: center;
  }
  & .subTitle {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #c3c3c3;
    color: $gray-lgt-2;
    line-height: 1.5em;
    margin: ($baseline * 0.5) 0;
  }
  & .submitBtn {
    margin-top: $baseline;
    padding: 0.5em;
    border: none;
    background: rgb(138, 243, 143);
    color: green;

    &:disabled {
      background: #e8e8e8;
      color: #c7c5c5;
    }

    &:focus {
      background: green;
      color: white;
      outline: 2px solid green;
      outline-offset: 2px;
    }
  }
}

@media (min-width: 700px) {
  .form {
    flex: 0 0 20%;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .form {
    flex: 0 0 15%;
    margin-right: 0;
  }
}
