.form {
  display: flex;
  justify-content: center;
  flex: 0 0 15%;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-left: 1em;

  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 1em 2em;
}
.setYear {
  display: block;
  width: 100%;
  text-align: center;
}

.radioContainer {
  display: block;
  width: 100%;
  text-align: center;
  & .subTitle {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #c3c3c3;
    color: #7f7c7c;
    line-height: 1.5em;
  }
}
