@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
}

.logo {
  cursor: pointer;
  padding: 0 $baseline;
  & .navLogo {
    display: block;
    width: $baseline * 4;
    height: auto;
  }
}

.nav {
  .navListItem {
    list-style-type: none;
    display: inline-block;

    & .navLink {
      display: inline-block;
    }
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
}
