@import "../../styles/variables.scss";

.signupFormContainer {
  margin-top: $baseline * 4;
  text-align: center;
  & .error {
    color: rgb(248, 51, 51);
    padding: 0.5em 1em;
  }
  & .alert {
    color: rgb(253, 144, 19);
    padding: 0.5em 1em;
  }
  & .formGroup {
    padding: 0.5em 0;
    & input {
      padding: $baseline * 0.5;
    }
    & input[type="submit"] {
      padding: 0.2em $baseline;
    }
  }
  & .logo {
    display: inline-block;
    width: $baseline * 4;
    height: auto;
  }
  & .btnContainer {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin: auto;
    & div {
      cursor: pointer;
    }
  }
}
