.icon {
  display: inline-block;
  margin-right: 0.5em;
  & svg {
    width: 20px;
    height: auto;
    vertical-align: middle;
  }
}
.link,
.btn {
  text-decoration: none;
  padding: 0.5em;
  border: none;
  font-family: "Nunito";
  font-size: 0.8em;
  @extend .icon;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    border-bottom: 2px solid #acdd3a;
  }
}
