@import "../../styles/variables.scss";

.btn {
  text-decoration: none;
  padding: 0.5em $baseline * 2;
  border: none;
  font-size: 0.8em;
  font-family: "Nunito";
  background: $theme-green-d-1;
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: underline;
    background: $theme-green-d-1;
    outline: 1px solid $theme-green-l-1;
  }
}

.btnLink {
  background: $theme-green-l-1;
  &:hover,
  &:active {
    text-decoration: underline;
    background: $theme-green-d-1;
    outline: 1px solid $theme-green-l-1;
  }
}
