.radioItem {
  display: inline-block;
  & label {
    text-transform: capitalize;
    & input[type="radio"] {
      display: none;
      &:checked {
        + .bg {
          background-color: green;
          span {
            color: white;
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
    & .bg {
      padding: 1em 1.5em;
      background-color: rgb(138, 243, 143);
      border: 1px solid rgb(61, 202, 92);
      margin-left: 0.4em;
      border-radius: 4px;
      transition: all 250ms ease;
      will-change: transition;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;
      &:active {
        transform: translateY(10px);
      }
      & span {
        position: absolute;
        left: 0;
        right: 0;
        top: 8px;
        transition: all 300ms ease;
        font-size: 0.8em;
        user-select: none;
        color: green;
      }
    }
  }
}
